
$font-main:  'Raleway', sans-serif;

$color-header-light: blanchedalmond;
$color-titles-light: rgb(252, 247, 240);
$color-green: hsl(188, 100%, 24%);
$color-green-grey: hsla(188, 29%, 44%, 0.774);

$color-button-background: peachpuff;
$color-form-background: #f5f5f5;
