//menu


.head {
    background-color: white;
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 1 / 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: grid;
    clear: both;
    font-size: 1.2rem;
    letter-spacing: .2rem;
   &__nav {
        text-align: center;
        align-self: center;
        width: 100%;

        &--item {
            position: inline-block;
            padding:  1.8rem 1.8rem;
            margin: 1.5rem 1.5rem;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;

            @include respond(phone) {
                display: block;
                 text-align: center;
                 overflow: auto;
                 float: none;
                 right: auto;
                 width: 100%;
                 background: $color-green;
                 margin: 0;
                 padding: 1rem 0 0;
                }


            &:hover {
                color: black;
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 1rem 1.8rem;
                @include respond(phone) {
                   padding: .8rem 0;
                  
                }
            }
        }
    }
}



//Bar icon

.toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
    cursor: pointer;

    @include respond(phone) {
        display: block;
            width: 100%;
            display: block;
            text-align: center;
       

    }
}
ul {
    width: 100%;
    padding: 0;
    @include respond(phone) {
        width: 100%;
        display: none;
    }
}

ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    @include respond(phone) {
        display: block;
        text-aligne: center;
    }
}


.active {
    display: block;
}


