//CONTACT FORM

.contact-form {
    display: grid;
    grid-template-columns: 80%;
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $color-green-grey;
    align-content: center;
    justify-content: center;
    color: $color-titles-light;
    line-height: 1.5;

    @include respond(phone) {
        grid-column: 2 / 4;
        background-color: $color-green-grey;
        align-items: center;
        font-size: .7em;
        padding: 1%;
        background-size: contain;
    }
}


#first-name,
#last-name,
#email {
    border: none;
    width: 100%;
    height: 25px;
    cursor: pointer;
    background-color: $color-form-background;
    align-content: center;
    margin: 0 auto;
    position: relative; 
    font-size: 1.1em;

    @include respond(phone) {
        height: 15px;
    }
}

#message {
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: $color-form-background;


}


