* {
    margin: 0;
    padding: 0;
}

body, 
html {
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    font-family: $font-main;
}

::selection {
    background-color: $color-green-grey;
}

