//menu

.nav {
    margin: 2px;
    padding: 2px;
    width: 1em;
    position: fixed;
    top: 0;

    &__item {
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
}