//menu

.head__main {
    margin: 2px;
    padding: 2px;
    width: 1em;
    position: inline-block;
    text-align: center;
    float: left;
}

    .nav__item {

        display: block;
        padding: 14px 16px;
    }
