//menu


.head {
    background-color: white;
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 1 / 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: grid;

   &__nav {
        text-align: center;
        align-self: center;


        &--item {
            position: inline-block;
            padding:  1.8rem 1.8rem;
            margin: 1.5rem 1.5rem;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;

            @include respond(phone) {
                
                  position: absolute;
                  right: 0;
                  top: 0;
                  flex-direction: column;
                }
            }

            &:hover {
                color: black;
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 1.8rem 1.8rem;
            }
        }
    }
}




